<%- include('includes/head.ejs') %> 
</head>
<body>
    <%- include('includes/navigation.ejs') %> 
    <main>
        <% if (prods.length > 0 ) { %>
            <% for (let product of prods) { %>
                <span><%= product.title %></span>
            <% } %>
        <% } else { %>
            No Products found
        <% }%>
    </main>
<%- include('includes/end.ejs') %>